<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
      <% else %>
        ABC DEF  
      <% end %>
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
