<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Dealzadeal" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dealzadeal" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<!--     <header>
      <%#= render 'layouts/navigation' %>
    </header> -->
    <!-- <main role="main"> -->
       <%#= render 'layouts/messages' %>
       <%= yield %>
    <!-- </main> -->
  </body>
</html>
